@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.acerca-de .acerca-de-imgs div a, .acerca-de a {
  color: white;
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 5;
  text-decoration: none;
}

section h2 a, .historias h2 a, .leyendas-index div h2 a {
  font-size: 35px;
  color: #000000;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Serif", serif;
  background-color: rgba(108, 117, 125, 0.1529411765);
}
body h1 .titulo {
  font-style: italic;
  font-size: 40px;
  padding: 5px;
  color: #000000;
  text-decoration: none;
}
body h1 .titulo:hover {
  color: #000000 !important;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background-color: #6c757d !important;
  padding: 5px;
}

h1 {
  font-style: italic;
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 1;
  padding: 5px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
header ul li {
  margin: 15px;
}
header .btn-outline-success {
  --bs-btn-color: $color-borde;
  --bs-btn-border-color: $color-borde;
  --bs-btn-hover-bg: $color-borde;
  --bs-btn-hover-border-color: $color-borde;
  --bs-btn-active-bg: $color-borde;
  --bs-btn-active-border-color: $color-borde;
  --bs-btn-disabled-color: $color-borde;
  --bs-btn-disabled-border-color: $color-borde;
}

a:hover {
  color: white !important;
}

/*INDEX*/
/*ACERCA DE INDEX*/
.acerca-de {
  background-image: url(../img/img.fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}
.acerca-de div h2 {
  text-align: center;
  font-size: 30px;
}
.acerca-de div h2 a {
  font-size: 35px;
  color: white;
  text-decoration: none;
}
.acerca-de div h2 a:hover {
  color: #000000 !important;
  background-color: none !important;
}
.acerca-de div p {
  font-size: 18px;
}
.acerca-de .acerca-de-imgs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}
.acerca-de .acerca-de-imgs div a img {
  width: 250px;
  height: 200px;
}
/*LEYENDAS INDEX*/
.leyendas-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.leyendas-index .pennywise {
  width: 400px;
  height: 300px;
}
.leyendas-index div h2 {
  text-align: center;
  font-size: 30px;
}
.leyendas-index div h2 a:hover {
  color: white !important;
}
.leyendas-index p {
  padding: 15px;
  text-align: center;
}

/*HISTORIAS INDEX*/
.historias {
  margin: 15px;
}
.historias h2 {
  text-align: center;
  font-size: 30px;
}
.historias h2 a:hover {
  color: white !important;
}
.historias div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.historias div div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  margin: 5px;
  flex-direction: column;
  background-image: url(../img/img.fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.historias div div h3 {
  text-align: center;
}
.historias div div h3 a {
  text-decoration: none;
}
.historias div div img {
  width: 250px;
  height: 320px;
  margin: 10px;
}
.historias div div a {
  text-decoration: none;
}
.historias div div p {
  text-align: center;
}
.historias div div a {
  font-size: 30px;
  color: white;
  padding: 5px;
}

/*CONTACTO INDEX*/
section h2 {
  text-align: center;
  font-size: 30px;
}
section h2 a:hover {
  color: white !important;
}

form .row {
  margin-inline: 0 !important;
}

.row mb-3 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*ACERCA DE PAGINA*/
.coulrofobia {
  margin: 20px;
}
.coulrofobia h3 {
  text-align: left;
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 2;
}
.coulrofobia p {
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 6;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}
.grid .dan-miedo {
  margin: 15px;
}
.grid .dan-miedo h4 {
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 2;
  margin: 10px;
}
.grid .dan-miedo h4 ol {
  text-align: left;
  margin: 10px;
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 6;
}
.grid .dan-miedo h4 ol li h5 {
  font-size: nth 40px, 30px, 35px, 18px, 25px, 20px, 5;
  margin: 10px;
}
.grid .grid-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}
.grid .grid-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid .grid-img .payasito1 {
  grid-column: span 2;
}
.grid .grid-img .payasito8 {
  grid-column: span 2;
}

footer {
  text-align: left;
  background-image: url(../img/img-fondo-footer.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
footer section h3 {
  text-align: left;
}
footer section span a {
  color: white;
  text-decoration: none;
}
footer section span a:hover {
  background-color: #000000;
  color: white;
}
footer section span a {
  color: white;
  text-decoration: none;
}
footer section span a:hover {
  background-color: #000000;
  color: white;
}
footer section span a {
  color: white;
  text-decoration: none;
}
footer section span a:hover {
  background-color: #000000;
  color: white;
}
footer section h3 {
  text-align: left;
}
footer section h3 {
  text-align: left;
}
footer section h3 a {
  color: white;
  text-decoration: none;
}
footer section h3 a:hover {
  background-color: #000000;
  color: white;
}
footer section h3 {
  text-align: left;
}

/* MEDIA QUERIES INDEX */
@media (max-width: 904px) {
  .acerca-de div p {
    font-size: 15px;
    padding: 15px;
    margin: 10px;
  }
  .acerca-de div h2 a {
    font-size: 30px;
  }
}
@media (max-width: 850px) {
  .historias div div img {
    width: 200px;
    height: 270px;
  }
  h1 {
    font-size: 30px;
    margin: 15px;
  }
  .acerca-de {
    background-image: url(../img/img.fondo.media.jpg);
  }
  .logo {
    display: none;
  }
  footer {
    background-image: url(../img/img-fondo-footer-media.jpg);
  }
  .historias div div {
    background-image: url(../img/img.fondo.media.jpg);
  }
  .acerca-de .acerca-de-imgs div .payaso3 {
    display: none;
  }
  .acerca-de .acerca-de-imgs {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
@media (max-width: 765px) {
  .acerca-de div div img {
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 695px) {
  .historias div {
    flex-direction: column;
  }
}
@media (max-width: 619px) {
  .acerca-de-imgs div a .payaso3 {
    display: none;
  }
  .grid-img {
    display: none;
  }
  .grid {
    display: flex;
  }
  .coulrofobia {
    font-size: 25px;
  }
  .dan-miedo ol li h5 {
    font-size: 20px;
  }
  .dan-miedo ol li p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .leyendas-index .pennywise {
    width: 200px;
    height: 150px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .acerca-de .acerca-de-imgs div .payaso2 {
    display: none;
  }
  .acerca-de .acerca-de-imgs {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 465px) {
  h1 {
    font-size: 20px;
    padding: 0;
  }
  .logo {
    transform: scale(0.5);
  }
  .leyendas-grid {
    display: flex;
    flex-direction: column;
  }
  .acerca-de .acerca-de-imgs .payaso2 {
    display: none;
  }
}
@media (max-width: 420px) {
  .leyendas-index .pennywise {
    display: none;
  }
}
@media (max-width: 417px) {
  .acerca-de .acerca-de-imgs div a .payaso2 {
    display: none;
  }
  .acerca-de .acerca-de-imgs {
    justify-content: center;
  }
}
/* MEDIA QUERIES ACERCA DE */
@media (max-width: 869px) {
  .grid .grid-img {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .grid .grid-img div .payasito10 {
    display: none;
  }
  .grid .grid-img div .payasito9 {
    display: none;
  }
  .grid .grid-img div .payasito7 {
    display: none;
  }
  .grid .grid-img div .payasito6 {
    display: none;
  }
}
@media (max-width: 840px) {
  .acerca-de .acerca-de-imgs div a .payasito3 {
    display: none;
  }
  .grid .dan-miedo h4 {
    font-size: 25px;
  }
  .grid .dan-miedo ol {
    font-size: 15px;
  }
  .grid .dan-miedo ol li h5 {
    font-size: 20px;
  }
  .coulrofobia h3 {
    font-size: 25px;
  }
  .coulrofobia p {
    font-size: 15px;
  }
}
@media (max-width: 609px) {
  .grid .grid-img div img {
    display: none;
  }
  .grid .dan-miedo h4 {
    font-size: 20px;
  }
  .grid .dan-miedo ol {
    font-size: 10px;
  }
  .grid .dan-miedo ol li h5 {
    font-size: 15px;
  }
}
@media (max-width: 538px) {
  .acerca-de .acerca-de-imgs div a .payasito2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
