@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Serif", serif;
    background-color: #6c757d27;

    h1 {
        .titulo{
        font-style: italic;
        font-size: 40px;
        padding: 5px;
        color: $color-bordes;
        text-decoration: none;
        &:hover{
            color: $color-bordes !important;
        }
        }
    }
}


nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #6c757d !important;
    padding: 5px;
}