footer {
    text-align: left;
    background-image: url(../../img/img-fondo-footer.png);
    background-size: cover;
    background-attachment: fixed;
    color: $color-enlace;

    a {
        .logo {
            transition: 1s;

            &:hover {
                transform: scale(50%);
            }
        }
    }

    section {
        h3 {
            text-align: left;
        }

        span {
            a {
                color: $color-enlace;
                text-decoration: none;

                &:hover {
                    background-color: $color-bordes;
                    color: $color-enlace;
                }
            }
        }

        span {
            a {
                color: $color-enlace;
                text-decoration: none;

                &:hover {
                    background-color: $color-bordes;
                    color: $color-enlace;
                }
            }
        }

        span {
            a {
                color: $color-enlace;
                text-decoration: none;

                &:hover {
                    background-color: $color-bordes;
                    color: $color-enlace;
                }
            }
        }
    }

    section {
        h3 {
            text-align: left;
        }
    }

    section {
        h3 {
            text-align: left;

            a {
                color: $color-enlace;
                text-decoration: none;

                &:hover {
                    background-color: $color-bordes;
                    color: $color-enlace;
                }
            }
        }
    }

    section {
        h3 {
            text-align: left;
        }
    }
}