h1 {
    font-style: italic;
    font-size: nth ($font-size, 1);
    padding: 5px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;

    ul {
        li {
            margin: 15px;
        }
    }

    .btn-outline-success {
        --bs-btn-color: $color-borde;
        --bs-btn-border-color: $color-borde;
        --bs-btn-hover-bg: $color-borde;
        --bs-btn-hover-border-color: $color-borde;
        --bs-btn-active-bg: $color-borde;
        --bs-btn-active-border-color: $color-borde;
        --bs-btn-disabled-color: $color-borde;
        --bs-btn-disabled-border-color: $color-borde;
    }
}

a {
    &:hover {
        color: $color-enlace !important;
    }
}